.App {
  text-align: center;
  font-family: Palatino;
}

.btn-link{
  display: block;
  margin-top: 10px;
  background-color:
}

.nav{
  /* display: flex; */
  /* justify-content: space-evenly; */
  display: grid;
  grid-template-columns: 16% 68% 16%;
  font-family: Palatino;
  background-color: #093145;
  color: white;
}
.user-name{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 17px
}
.logo{
  font-size: 45px;
}

.logout{
  color: white;
  font-size: 17px;
  margin-top: 45px;

  /* position: relative; */
  /* border: 3px solid dimgrey; */
  /* border-radius: 15px; */
}

.hours-prompt-btn{
  color: white;
  font-family: Palatino;
  width: 10%;
  top: -100;
}

.add{
    background-color: red;
}

.edit{
    background-color: lightblue;
}

.addNew{
  margin-bottom: 40px;
}

.donation-header{
  display: grid;
  grid-template-columns: 20% 10% 20% 20% 20% 5%;
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
}

.inputRow{
 display: grid;
 grid-template-columns: 20% 10% 20% 18% 18% 5%;
 width: 50%;
 margin: auto;
}

.delete{
  margin-left: 10px;
}

.delete:hover{
  color: lightblue;
}

.packaged{

}

input.packaged{
  margin-left: 65px;
  padding: 10px;
}

input.expiration, input.dateMade{
  width:83%;
  margin-left: 20px;
}

.dateMade{

}



input.quantity{
  width: 45%;
  margin-left: 20px;
  text-align: center;
  font-size: 15px;
}

/* .inputRow{

  display:grid;
  grid-template-columns: 10% 10% 20% 20% 20%;
} */



.form-or-button{
  border: 1px solid #093145;
  background-color: #093145;
  color: white;
  font-family: Palatino;
  border-radius: 5px;
  padding: 20px 38px;
  width: 40%;
  margin: auto;
}

.rate-and-req{
  display: grid;
  grid-template-columns: 60% 40%;
}



.rate-container{
  font-family: Palatino;
  border-radius: 15px;
  height: 90px;
  width: 80%;
  margin: auto;
  overflow: scroll;
}

.nav-item{
  width:30;
}
.link{
  text-decoration: none;
}

.ColumnsContainer{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
}


.prompt{
  margin-top: 10px;
  background-color: #e6f9ff;
  border-radius: 10px ;
}

.rate {
  font-weight: bold;
  display: inline-block;
  border: .5px solid #1ac9ff;
  background-color: #093145;
  color: #f2f3f4;
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 10px;
}

.take-job{
  font-size: 25px;
  font-weight: bold;
  border: -2.5px solid #4F671D;
  background-color: lightblue;
  color: #fdfdfd;
  border-radius: 5px;
  padding: 6px 10px;
  margin-top: 10px;
}

.take-job:hover{
  background-color: #dedede;
}

.rate:hover{
  background-color: #007599;
  /* background-color: rgba(255,255,255, 0) */
}

.col{
  font-family: Palatino;
  display: inline-block;

  width: 405px;
}

.col-header{
  font-size: 25px;
}

.card-cont{
    height: 600px;
    overflow: scroll;

}

.RequestCard, .DeliveryCard{
  /* border: 3px solid #252E0D; */
  border-radius: 15px;
  line-height: 22px;
  padding: 20px 10px 20px 10px;
}

.DeliveryCard{
  padding: 20px 40px;
  line-height: 17px;
}

.card{
  margin: 10px 5px 20px 0;
  color: #252E0D;
  background-color: #eeefec;
  box-shadow: 5px 10px 8px #888888;
}

.ChoiceCard{
  border: 1px solid #252E0D;
  border-radius: 10px;
  display: inline-block;
  padding: 0px 15px;
}

.pudo {
  display: grid;
  grid-template-columns: 50% 50%;
}

span{
  font-weight: bold;
  font-size: 20px;
}

.pert{
    font-weight: bold;
}

#map-canvas{
  width: 400px;
  height: 300px;
  margin-bottom: 100px;
}



.bg-modal {
 font-family: Palatino;
 width: 100%;
 height: 150%;
 overflow: scroll;
 left: 0px;

 background-color: rgba(0, 0, 0, 0.7);

 position: absolute;
 top: 0px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.modal-content {
   width: 600px;
   top: -150px;
   height: 660px;
   background-color: #093145;
   border: solid .5px dimgrey;

   /* border-color: #f2f3f4; */
   border-radius: 10px;
   /* text-align: center; */
   padding: 10px;
   position: relative;
   font-size: 20px;
   color: #fff;
   overflow: scroll;
}

.blur {
  margin:50px 20px 0;
  border: solid 1px black;
  padding:20px;
  position:relative;
}

.blur, .test-blur{

  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  filter:opacity(0.5);
  filter:blur(20px);
}

.blur, .rate-card{
  display:block;
margin:0 auto;
}

.details{
  margin: -10px;
  padding: 19px 0;
  border-radius: 4px;
  background-color: lightblue;
}

.detail-place{
  background-color: #eeefec;
  color: #252E0D;
}

.items{
  border-radius: 1px solid red;
  /* background-color: white; */
}

.to-from{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.to-from-text{
  display: grid;
  grid-template-columns: 50% 50%;
}

.to-from-card{
  display: grid;
  grid-template-columns: 50% 50%;

}

.items-header{
  display: grid;
  grid-template-columns:30% 10% 20% 20% 20%;
  border-bottom: 1px solid white;
  padding-bottom: 5px;

}

.under-header{
  background-color: #eeefec;
  color: #252E0D;
  padding: 7px 0;
}

.item-header{
  float: left;
}

.item-details{
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 0 0 0;
  margin-bottom: 15px;
}

.item-row{
  display: grid;
  grid-template-columns:30% 10% 20% 20% 20%;
  padding-top: 7px;
}

.item{
  display: inline-block;
}

.detail-place{
  display:inline-block;
  float:left;
  width: 250px;
  border-radius: 5px;
  border: .5px solid white;
  padding: 10px 10px;
}

.input{
  width:98%;
  height: 200px;
  font-size: 25px;
}

.input-s{
  width: 98%;
  height: 50px;
  margin: 10px 0;
  font-size: 35px;
  text-align: center;
}

.rating-form{
  height: 600px;
}

.rating-row{
  padding-bottom: 20px;
}


.req-btn{
  margin: 23px 0;
}


.mouths_to_feed{
  font-weight: bold;
  font-size: 20px;
}



.date-row{
 display: grid;
 grid-template-columns: 30% 70%;

  /* margin: auto; */
}

.input-cont{
  width: 100%;
  display:flex;
  justify-content: space-around;

}

.day{
  float: left;
}

.input-time{
  width: 35%;
}

.date-row-cont{
  /* display: flex; */
  /* justify-content: center; */
}

.DonationForm{
  color: red;
}

.back{
  text-decoration: none;
  background: lightblue;
  color: white;
  display: block;
  font-size: 24px;
}

.hours{
  height: 400px;
}

.hours-btn{
  margin-top: 30px;
}

.donate{
  margin-top: 60px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
