.App {
  text-align: center;
}

.ChoiceCard{
  border: 1px solid dimgrey;
  border-radius: 10px;
  display: inline-block;
  padding: 0px 15px;
}

span{
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
